{
    "demandware": {
        "server":"cert.staging.web.demandware.net",
        "username":"",
        "password":"",        
        "servercert": "./cert.staging.web.demandware.pem",
        "privatekey": {
            "certpath": "./build.pem",
            "keypath": "./build.key",
            "password": "build"
        }
    },
    "cartridges": {
        "app_storefront": {
            "path":"myrepo/cartridges/app_storefront"
        }
    },
    "repos": {
        "myrepo": {
            "url": "git@github.com:dw/mycarts.git",
            "ssh": {
                "privatekey": "/Users/ubuntu/.ssh/id_rsa",
                "publickey": "/Users/ubuntu/.ssh/id_rsa.pub",
                "password": ""            
            },
            "branch": "master"
        }
    }
}